# Ignore all files and directories in the css folder
static/css/*

# Ignore all files and directories in the images folder
static/images/*

# Ignore the favicon.ico file in the root directory
favicon.ico
